* {
  box-sizing: border-box;
}

body {
  background-color: #000;

  min-height: 100vh;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.snake-canvas {
  border: 1px #eee solid;

  height: 75vmin;
  width: 75vmin;
}
