* {
  box-sizing: border-box;
}

body {
  background-color: #000;

  height: 100vh;
  overflow: hidden;

  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.snake-canvas {
  height: 75vmin;
  width: 75vmin;
}

.assets {
  display: none;
}
